{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> Terminos y Condiciones | EdukAI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
</head>
<body class="bg-dark d-flex justify-content-center align-items-center">


<div class="glass-container  p-5 rounded text-white " style="max-width: 550px;">
    <h1 class="mb-2 text-center">Eduk<span class="text-gradient">AI</span></h1>
    <h4 class="mb-4 mt-4">TÉRMINOS Y CONDICIONES DE USO</h4>
    <p class="mb-4 fs-6" >

        Al registrarte y utilizar la plataforma EdukAI, aceptas los siguientes términos:
        <br><br>

        1. Finalidad
        EdukAI es una plataforma educativa desarrollada con fines académicos. Permite subir apuntes, generar resúmenes y
        preguntas mediante inteligencia artificial, así como realizar tests interactivos y consultar el historial de
        resultados.
        <br>
        2. Responsabilidad del Usuario
        El usuario se compromete a utilizar la plataforma de forma responsable y respetuosa. No está permitido subir
        contenido ofensivo, ilegal o que infrinja derechos de terceros.
        <br>
        3. Tratamiento de datos
        Los datos personales proporcionados (nombre, email, apuntes, etc.) se almacenan localmente en la base de datos
        del sistema y no se comparten con terceros. La finalidad del tratamiento es puramente educativa.
        <br>
        4. Uso de Inteligencia Artificial
        EdukAI utiliza servicios externos como OpenAI para generar contenido automatizado. El usuario entiende que los
        resultados generados por la IA pueden no ser perfectos y deben revisarse.
        <br>
        5. Limitación de responsabilidad
        EdukAI no garantiza la exactitud de los contenidos generados y no se hace responsable del uso que se haga de
        ellos fuera del ámbito académico.
        <br>
        6. Cambios
        Estos términos pueden ser modificados en futuras versiones del sistema. Se notificará a los usuarios registrados
        en caso de cambios relevantes.
        <br>
        Al registrarte, declaras haber leído, comprendido y aceptado estos términos.</p>

</div>

</body>
</html>